<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ghostwan.dtake">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
			android:name=".DTakeApp"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">

		<service
				android:name=".DTakeService"
				android:enabled="true"
				android:exported="true">
		</service>

		<receiver
				android:name=".ServiceReceiver"
				android:enabled="true"
				android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

		<activity
				android:name=".SettingsActivity"
				android:label="@string/title_activity_settings">
		</activity>

		<activity
				android:name="com.nononsenseapps.filepicker.FilePickerActivity"
				android:label="@string/app_name"
				android:theme="@style/FilePickerTheme">
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<meta-data
				android:name="DATABASE"
				android:value="dtake.db"/>
		<meta-data
				android:name="VERSION"
				android:value="2"/>
		<meta-data
				android:name="QUERY_LOG"
				android:value="true"/>

		<activity
				android:name=".DTakeActivity_"
				android:label="@string/title_activity_dtake"
				android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>